<a href="https://colab.research.google.com/github/vyshakh19/vyshakh_INFO5731_spring2020/blob/master/Copy_of_In_class_exercise_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The fourth in-class-exercise**

# 1. Text Data Preprocessing

Here is a [legal case](https://github.com/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/01-05-1%20%20Adams%20v%20Tanner.txt) we collected from westlaw, please follow the steps we mentioned in lesson 5 to clean the data:



## 1.1 Basic feature extraction using text data

*   Number of sentences
*   Number of words
*   Number of characters
*   Average word length
*   Number of stopwords
*   Number of special characters
*   Number of numerics
*   Number of uppercase words

## 1.2 Basic Text Pre-processing of text data

*   Lower casing
*   Punctuation removal
*   Stopwords removal
*   Frequent words removal
*   Rare words removal
*   Spelling correction
*   Tokenization
*   Stemming
*   Lemmatization

## 1.3 Save all the **clean sentences** to a **csv file** (one column, each raw is a sentence) after finishing all the steps above.


## 1.4 Advance Text Processing

*   Calculate the term frequency of all the terms.
*   Print out top 10 1-gram, top 10 2-grams, and top 10 2-grams terms as features.

In [0]:
import pandas as pd
file1 = open('/content/INFO5731_Spring2020-master_In_class_exercise_01-05-1  Adams v Tanner.txt', 'r') 
Lines = file1.readlines()
for a in Lines:
  print(a)

5 Ala. 740

Supreme Court of Alabama.

ADAMS

v.

TANNER AND HORTON.

June Term, 1843.

Synopsis

WRIT of Error to the Circuit Court of Sumter.







West Headnotes (2)





[1]

Chattel Mortgages

Crops

A growing crop has such an existence as to be the subject-matter of a mortgage or other contract which passes an interest to vest in possession, either immediately or at a future time.

4 Cases that cite this headnote



[2]

Creditors’ Remedies

Lien and Priority

Under St.1821, prohibiting a levy on a crop until it has been gathered, no lien attaches in favor of a fi. fa. on a growing crop, nor does such lien attach until after the crop has been gathered.

5 Cases that cite this headnote



**1 This was a trial of the right of property under the statute. In November, 1840, an execution issued from the circuit court of Sumter, at the suit of the plaintiff in error, requiring the sheriff of that county, to make of the goods, &c., of Allen Harrison and others, the sum of thirty-seven hundred and seventy-seven 80-100 dollars, besides costs. This execution was levied on thirty bales of cotton, as the property of Allen Harrison, which was claimed, and a bond given to try the right. An issue was made up to try the question of the liability of the cotton to the plaintiff’s execution, and submitted to a jury. On the trial, a bill of exceptions was sealed at the instance of the plaintiff. The plaintiff proved that he recovered his judgment in October, 1839; that an execution *741 was issued thereon on the 7th Nov. thereafter, and that alias and pluries fieri facias’, issued regularly up to the time levy was made; that the cotton levied on was growed on the plantation of Harrison, and cultivated by the hands in his service. It was proved by the claimants, by the production of a written contract, that Harrison, on the twenty-second of May, 1840, in consideration that the claimants were involved, as indorsers for Burton & Harrison of Sumter county, and were then exposed to an execution, amounting to upwards of fourteen thousand dollars, bargained and sold to the claimants all his growing crop of cotton &c., consisting of one hundred and twenty acres, &c. Allen Harrison promised and obliged himself to give up his crop to the use of the claimants at any time to save them from suffering as his indorsers; if the crop matured and was gathered he undertook to deliver the cotton in Gainesville. The claimants came from Tennessee, (where they resided) about the first of September, 1840, bringing with them three or four white laborers, and took possession of the crop and slaves, and with the latter, and white laborers, gathered the cotton, prepared it for market, and when levied on, it was in a ware-house in Gainesville. The plaintiff then proved by Harrison, that the claimants took possession of the crop, while he was absent, and disposed of it without his consent. It was admitted, that the contract was made in good faith.

The court charged the jury, that the plaintiff had no lien by virtue of his judgment, and execution on the growing crop; that Harrison had a right to convey it, without being in any manner restrained by them; that the writing adduced, was a sale of the crop, but if it was not, and the lien of the fieri facias would have attached upon it, when gathered, yet if the claimants obtained possession on the first of September, and controlled the gathering of the crop, then no lien attached, and it was not subject to the levy.

Attorneys and Law Firms

R. H. SMITH, for the plaintiff, in error, made the following points.--1. The crop of Harrison, must, in May, 1840, have been in an immature state, and it is insisted, was not the subject of a sale. 2. By the common law, a growing crop could be levied on and sold, [1 Salk. Rep. 361; 1 Bos. & P. Rep. 307; 6 East’s Rep. 604, note 1; 2 Johns. Rep. 418, 422; 7 Mass. Rep. 34,] and our statue, [[[Aik. Dig. § 41, p. 167,] which forbids the levy of an *742 execution on a growing crop, is to receive a strict construction. It merely inhibits the levy, but the lien attaches, and a levy and sale may be made after the crop matures, and is gathered. 3. The contract does not purport to convey the growing crop, but is a mere executory agreement, requiring some act to be done by Harrison, in order to invest the claimants with the right of property. [Chit. on Con. 112, 207; 3 Johns. Rep. 338, 424; 5 Wend. Rep. 26; 13 Johns. Rep. 235; 8 Dowl. Rep, 693;] and until this act was done, the crop, no matter by who gathered, because liable to be seized for Harrison’s debts. A court of chancery would not compel a specific performance of the contract at the claimant’s instance. 4. The charge of the court is also objectionable in deciding disputed facts.

W. M. MURPHY, with whom was W. G. JONES, for the defendant--cited the act of 1821, [Aik. Dig. 167,] which declares it to be lawful to levy an execution on a planted crop, until it is gathered, and contended that no lien attached in favor of the plaintiff. This being the case, the defendant in execution was not restrained from making the contract which he did with the claimants.

**2 The lien of an execution is destroyed by an injunction, because it takes away the right to levy it. In short, whenever the right to levy an execution is but temporarily suspended, or withdrawn, the lien is during that time lost. [[[[Whipple v. Foot, 2 Johns. Rep. 216; 3 Wash. C. C. Rep. 66; 4 How. Rep. 130.]

It is admitted that the contract between the defendant in execution, and the claimants, was in good faith, if so, the severance and removal of the cotton gave the latter a good title against all creditors of the former.

Opinion



COLLIER, C. J.



There can be no doubt that a growing crop has such an existence as to be the subject matter of a sale, mortgage, or other contract which possess an interest to vest in possession, either immediately or at some future time. This proposition has frequently been assumed as unquestionable; the point of inquiry generally being, whether under a statute of frauds, such as the 29 Chas. 2, it is a mere chattel, and transferrable by parol without writing. [Chitty on Con. 241-2, 332; Whipple v. Foot, 2 Johns. Rep. 422; Stewart v. Doughty, 9 Johns. Rep. 112; *743 Austin v. Sawyer, 9 Cow. Rep. 39. See also Ravesies v. Lee & Alston, at last term.] The contract set out in the bill of exceptions, we are inclined to think evidences rather a mortgage than an absolute sale. It recites that the claimants are involved as indorsers of a mercantile firm, of which the defendant was a partner; that an execution for upwards of fourteen thousand dollars against their estate, is in the sheriff’s hands, and that a conveyance is made of the crop of cotton, corn and oats, which the grantor agrees to give up at any time to the use of the claimants, so as to prevent injury to them as indorsers. The defendant in execution might at any time have divested the interest which the contract vested in the claimants, by discharging their liability as his indorsers, or a judgment creditor might have satisfied the lien, and when the crop was gathered, have levied on, and sold it under a fieri facias.

We will then consider the writing under which the claimants assert a right, as a mortgage with a power to take possession any time during the year, unless they should be relieved from their engagements as indorsers. It is not pretended that their liability has been satisfied, and it is admitted that the parties have acted with good faith, so that it is a dry question of law, whether the right of the plaintiff, or the claimants shall prevail. Assuming for the present that the execution of the plaintiffs did not operate a lien upon the planted crop previous to the contract of May, 1840, we will inquire whether the defendant in execution had such an interest as could be levied on and sold.

The claimants had previous to the levy of the execution taken possession of the crop, prepared the cotton for market, and removed it to a ware-house. This possession, it is insisted, was a trespass, because it was acquired in the absence of the defendant in execution, and without his consent then given. Conceding the truth of the facts stated in the bill of exceptions, and we think it will not follow, that the possession of the claimants is a nullity, and that the case must be considered as if they had never interfered with the crop. The contract contains an express undertaking to give up the crop at any time the claimants might require it for their indemnity, and if they took possession of it in the absence of the grantor, (though without his consent,) if he subsequently acquiesced in it, the inference would be, if necessary, that their acts were approved by him. Taking this to be clear *744 law, and it will be seen, that the defendant in execution at the time of the levy had nothing more than a mere equitable right to redeem the cotton by paying the debts indorsed by the claimants. He had no possession coupled with this equity, but only a naked equity, which it has been held cannot be reached by an ordinary execution. [Perkins and Elliott v. Mayfield, 5 Porter’s Rep. 182.]

**3 This brings us back to the question, whether the execution of the plaintiff was a lien on the growing crop, so as to defeat the mortgage to the claimants. It has been frequently mooted whether, at common law, corn, &c., before it is gathered, can be seized under a fieri facias. Mr. Dane, in remarking upon this point, says, “The American editor of Bacon’s Abridgment, says, ‘Wheat growing in the ground is a chattel, and subject to be taken in execution; and the sheriff may suffer it to grow till harvest, and then cut and sell it; or may perhaps sell it growing, and the purchaser will then be entitled to enter, for the purpose of cutting and carrying it away.” [He cites Whipple v. Foot, ut supra, also Poole’s case, Salk. 368; 1 Bos. & P. 397; 6 East, 604, n.] But Whipple v. Foot seems to be the only case that supports his position, that unripe wheat or corn may be taken in execution; and the same editor states that nothing can be taken in execution which cannot be sold. This position, says the learned commentator, is no doubt law. But it is unnecessary to consider how this matter stands at common law. The first section of the act of 1821, “To prevent sheriffs and other officers from levying executions in certain cases, enacts, that “It shall not be lawful for any sheriff or other officer, to levy a writ of fieri facias or other execution on the planted crop of a debtor, or person against whom an execution may issue, until the crop is gathered.” [Aik. Dig. 167.] Now here is an express inhibition to levy an execution on a crop while it remains on, or in the ground, and until it is severed from the soil to which it owes its growth. In respect to property thus situated, will the lien of an execution attach eo instanti upon its being placed in the hands of an officer? If so, the act cited, will only have the effect of keeping the right to levy it in abeyance until the crop is gathered. The lien of an execution does, not only operate so as to prevent the debtor from disposing of the property on which it attaches, but gives to the creditor the right to have it sold to satisfy his *745 judgment. The lien and the right to levy are intimately connected, and if the latter be taken away, or suspended, the effect, at common law, is the destruction of the former. This principle is fully established by Mansony and Hurtell v. The President, &c. of the Bank of the United States, and its assignees, and the citations contained in the opinion of the court in that case, as also in my opinion in Wood v. Gary, et al., both decided at the last term. That it was competent for the legislature to have made it unlawful to levy an execution on particular property, until its condition was changed, and still to give it a continuing lien, cannot be doubted; but there is nothing in the act in question to indicate that such is its intention. If the object was merely to suspend the sale, until the crop was gathered, it would have been very easy to have said so in explicit terms, but declaring as the statute does, in totidem verbis, that the execution shall not be levied, the legislature must be supposed to have meant what they have expressed. The act was induced by the doubts which existed as to what was the common law, and was intended to remove those doubts by declaring what should be the law in future. It does not create a lien or authorize a levy in a case in which the law, as it then existed, was silent. The idea that the lien attached upon the planted crop as soon as the execution was delivered to the sheriff, though the right to levy it was postponed until a severance took place, is attempted to be deduced from the last words of the section cited, viz: “until the crop is gathered.” These words cannot, upon any just principles of construction be regarded so potent as to give to an execution a retrospective effect. They do not refer to the lien, if they did they would postpone it until the crop was gathered; but it is the levy they relate to and postpone until that event takes place.

**4 The right to levy an execution on a planted crop, then, being expressly taken away by the statute, the lien which is connected with and consequent upon that right, never attaches until severance. This being the case, the right of the defendant in execution to make the contract which he did, is unquestionable, and the title of the claimants, coupled as it was with the possession, was paramount to any lien which the execution could exert.

The circuit judge may have mistaken the law in supposing that the contract was a sale, but if he did, an error in that respect was very immaterial, for whether a sale or mortgage, as we have *746 seen, under the facts of the case, the defendant in execution has no interest that could be seised and sold under execution. There is no assumption of any material fact in the charge; but the possession of the claimant, the time when acquired, the gathering of the crop, &c., are all referred to the determination of the jury; who are instructed, if they find them according to the evidence adduced, that no lien ever attached in favor of the plaintiff. The bona fides of the contract was conceded, so that no charge was necessary on that point, and it could not with propriety enter into the inquiry of the jury.

It results from what has been said, that the judgment of the circuit court is affirmed.



DISSENTING OPINION.



ORMOND, J.

**4 The statute which presents the question before the court is, that “it shall not be lawful for any sheriff or other officer to levy a writ of fieei facias or other execution, on the planted crop of a debtor, or person against whom an execution may issue, until the crop is gathered.” [Clay’s Dig. 210, § 46.]

I shall not enter upon the enquiry, whether, at common law, an execution could be levied upon a growing crop, though I apprehend, it would not be difficult to maintain the affirmative of the proposition. It is sufficient for my purpose, that the statute supposes such to have been the law, as it doubtless was the practice.

This act must be considered in connection with the other acts upon the same subject. The policy of the State, as indicated by these statutes, is undeniably that all the property of a debtor, real and personal, to which he has a legal title, shall be subject to sale by execution, and it appears to me that it would be difficult to assign a reason for the exemption of this species of property from the claims of judgment creditors, and for giving to the defendant in execution the right to dispose of it. It appears to me, with all deference, that the argument that because the sheriff was prohibited from levying on a ““planted crop,” that therefore the execution had lost its lien, and the debtor had the right to sell it, is a non sequitur. The mischief which the statute designed to remedy was, the sacrifice which would be necessarily made by the sale of an immature crop: the statute enables the debtor to retain it until it matures, and by severing it from the soil to put it *747 in a condition to bring its value--the lien in the mean time continuing in the plaintiff in execution.

**5 If further confirmation of the correctness of this view were necessary, it will be found, I think, in the language employed by the legislature. The sheriff is forbidden to levy on a “planted crop” until the crop is gathered. Now, if the view taken by the majority of the court, is correct, the right secured to the plaintiff in execution, of levying on the crop after it is gathered, may be frustrated, as it was in this case, by a sale by the defendant in execution, whilst the crop is in an immature state. The construction which has been put upon the statute, involves the singular anomaly, that the legislature, for the protection of the debtor, has forbidden the plaintiff in execution to sell the property of his debtor, because it is not in a condition to bring its value, and yet permits the debtor, voluntarily, by a sale, to submit to the same sacrifice, for his own benefit. It is, in effect, a gift to the defendant in execution, of the growing crop, provided he does not gather it himself, but disposes of it in its then condition. This, I feel a thorough conviction, was not the intention of the legislature; but that it was to secure him from loss, by prohibiting a levy and sale of the crop, until it was gathered, when the temporary suspension of the right to sell, ceased.

All Citations

5 Ala. 740, 1843 WL 284

End of Document

© 2019 Thomson Reuters. No claim to original U.S. Government Works.

Citing References (9)

Treatment

Title

Date

Type

Depth

Headnote(s)

Cited by

1.  Booker v. Jones’s Adm’x

55 Ala. 266, 271 , Ala.

Trover for Conversion of Cotton, with Counts in Case. APPEAL from the Circuit Court of Hale. Tried before the Hon. M. J. SAFFOLD.

Dec Term 1876

Case

—

Cited by

2.  Lehman, Durr & Co. v. Marshall

47 Ala. 362, 376 , Ala.

[TROVER FOR CONVERSION OF COTTON.] APPEAL from the City Court of Montgomery. Tried before Hon. JOHN D. CUNNINGHAM.

Jan Term 1872

Case

—

Cited by

3.  Bibb v. Janney

45 Ala. 329, 334 , Ala.

[GARNISHMENT; WAGES; WAIVER OF EXEMPTION.] APPEAL from City Court of Montgomery. Tried before Hon. JOHN D. CUNNINGHAM.

Jan Term 1871

Case

—

Cited by

4.  McKenzie v. Lampley

31 Ala. 526, 527 , Ala.

[TRIAL OF RIGHT OF PROPERTY IN COTTON.] APPEAL from the Circuit Court of Barbour. Tried before the Hon. S. D. HALE.

Jan Term 1858

Case

—

Cited by

5.  Evans v. Lamar

21 Ala. 333, 335+ , Ala.

ERROR to the Circuit Court of Autauga. Tried before the Hon. A. B. MOORE.

Jun Term 1852

Case

—

Cited by

 6.  Dewey v. Bowman

8 Cal. 145, 147 , Cal.

The judgment of the Court below, against Jacob S. Cohen, should be reversed, for the following reasons: Because the finding of the Court was, so far as Cohen was concerned,...

Jul Term 1857

Case

—

Mentioned by

7.  Rees v. Coats

65 Ala. 256, 258 , Ala.

Trover for Conversion of Three Bales of Cotton. APPEAL from the Circuit Court of Etowah. Tried before the Hon. WM. L. WHITLOCK.

Nov Term 1880

Case

—

Mentioned by

8.  Edwards v. Thompson

4 S.W. 913, 914 , Tenn.

Appeal from circuit court, Weakley county.

May 1887

Case

—

—

9.  Growing crops as subject to levy and seizure under attachment or execution

103 A.L.R. 464

Generally, at common law, growing crops raised by annual planting, while still attached to the soil, are regarded as personal chattels, subject to levy and seizure under attachment...

1936

ALR

—

—

Table of Authorities (3)

Treatment

Referenced Title

Type

Depth

Quoted

Page Number

Mentioned

1.  Austin v. Sawyer

9 Cow. 39, N.Y.Sup., 1828


In [0]:
!pip install pysbd

Requirement already satisfied: pysbd in /usr/local/lib/python3.6/dist-packages (0.2.3)

In [0]:
!pip install nltk
nltk.download('punkt')

Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk) (1.12.0)
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [0]:
import pysbd
import nltk.data
import string
import re
line = open("INFO5731_Spring2020-master_In_class_exercise_01-05-1  Adams v Tanner.txt","r")
x=line.read()
seg = pysbd.Segmenter(language="en", clean=False)
print("no of sentences",len(seg.segment(x)))

no of sentences 220

In [0]:
type(seg.segment(x))

list

In [0]:
import pandas as pd
df = pd.DataFrame(seg.segment(x))
df[0]

0                                             5 Ala. 740
1                              Supreme Court of Alabama.
2                                                  ADAMS
3                                                     v.
4                                     TANNER AND HORTON.
                             ...
215              There are no Filings for this citation.
216                                   Negative Treatment
217    There are no Negative Treatment results for th...
218                                              History
219      There are no History results for this citation.
Name: 0, Length: 220, dtype: object

In [0]:
df['word_count'] = df[0].apply(lambda x: len(str(x).split(" ")))
df[[0,'word_count']]

                                                     0  word_count
0                                           5 Ala. 740           3
1                            Supreme Court of Alabama.           4
2                                                ADAMS           1
3                                                   v.           1
4                                   TANNER AND HORTON.           3
..                                                 ...         ...
215            There are no Filings for this citation.           7
216                                 Negative Treatment           2
217  There are no Negative Treatment results for th...           9
218                                            History           1
219    There are no History results for this citation.           8

[220 rows x 2 columns]

In [0]:
df['char_count'] = df[0].str.len()
df[[0,'char_count']]

                                                     0  char_count
0                                           5 Ala. 740          10
1                            Supreme Court of Alabama.          25
2                                                ADAMS           5
3                                                   v.           2
4                                   TANNER AND HORTON.          18
..                                                 ...         ...
215            There are no Filings for this citation.          39
216                                 Negative Treatment          18
217  There are no Negative Treatment results for th...          58
218                                            History           7
219    There are no History results for this citation.          47

[220 rows x 2 columns]

In [0]:
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

df['avg_word'] = df[0].apply(lambda x: avg_word(x))
df[[0,'avg_word']]

                                                     0  avg_word
0                                           5 Ala. 740  2.666667
1                            Supreme Court of Alabama.  5.500000
2                                                ADAMS  5.000000
3                                                   v.  2.000000
4                                   TANNER AND HORTON.  5.333333
..                                                 ...       ...
215            There are no Filings for this citation.  4.714286
216                                 Negative Treatment  8.500000
217  There are no Negative Treatment results for th...  5.555556
218                                            History  7.000000
219    There are no History results for this citation.  5.000000

[220 rows x 2 columns]

In [0]:
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')
stop = stopwords.words('english')
df['stopwords'] = df[0].apply(lambda x: len([x for x in x.split() if x in stop]))
df[[0,'stopwords']]

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                                                     0  stopwords
0                                           5 Ala. 740          0
1                            Supreme Court of Alabama.          1
2                                                ADAMS          0
3                                                   v.          0
4                                   TANNER AND HORTON.          0
..                                                 ...        ...
215            There are no Filings for this citation.          4
216                                 Negative Treatment          0
217  There are no Negative Treatment results for th...          4
218                                            History          0
219    There are no History results for this citation.          4

[220 rows x 2 columns]

In [0]:
import re
df['specialcharecters'] = df[0].apply(lambda x: len([x for x in x.split() if x in re.sub('[\w]+' ,'', x)]))
df[[0,'specialcharecters']]

                                                     0  specialcharecters
0                                           5 Ala. 740                  0
1                            Supreme Court of Alabama.                  0
2                                                ADAMS                  0
3                                                   v.                  0
4                                   TANNER AND HORTON.                  0
..                                                 ...                ...
215            There are no Filings for this citation.                  0
216                                 Negative Treatment                  0
217  There are no Negative Treatment results for th...                  0
218                                            History                  0
219    There are no History results for this citation.                  0

[220 rows x 2 columns]

In [0]:
df['numerics'] = df[0].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
df[[0,'numerics']]

                                                     0  numerics
0                                           5 Ala. 740         2
1                            Supreme Court of Alabama.         0
2                                                ADAMS         0
3                                                   v.         0
4                                   TANNER AND HORTON.         0
..                                                 ...       ...
215            There are no Filings for this citation.         0
216                                 Negative Treatment         0
217  There are no Negative Treatment results for th...         0
218                                            History         0
219    There are no History results for this citation.         0

[220 rows x 2 columns]

In [0]:
df['upper'] = df[0].apply(lambda x: len([x for x in x.split() if x.isupper()]))
df[[0,'upper']]

                                                     0  upper
0                                           5 Ala. 740      0
1                            Supreme Court of Alabama.      0
2                                                ADAMS      1
3                                                   v.      0
4                                   TANNER AND HORTON.      3
..                                                 ...    ...
215            There are no Filings for this citation.      0
216                                 Negative Treatment      0
217  There are no Negative Treatment results for th...      0
218                                            History      0
219    There are no History results for this citation.      0

[220 rows x 2 columns]

In [0]:
df[0] = df[0].apply(lambda x: " ".join(x.lower() for x in x.split()))
df[0]

0                                             5 ala. 740
1                              supreme court of alabama.
2                                                  adams
3                                                     v.
4                                     tanner and horton.
                             ...
215              there are no filings for this citation.
216                                   negative treatment
217    there are no negative treatment results for th...
218                                              history
219      there are no history results for this citation.
Name: 0, Length: 220, dtype: object

In [0]:
import string
df['after_removing_punctuation'] = df[0].apply(lambda x:''.join([i for i in x if i not in string.punctuation]))
df[[0,'after_removing_punctuation']]

                                                     0                         after_removing_punctuation
0                                           5 ala. 740                                          5 ala 740
1                            supreme court of alabama.                           supreme court of alabama
2                                                adams                                              adams
3                                                   v.                                                  v
4                                   tanner and horton.                                  tanner and horton
..                                                 ...                                                ...
215            there are no filings for this citation.             there are no filings for this citation
216                                 negative treatment                                 negative treatment
217  there are no negative treatment results for th...  there are no negative treatment results for th...
218                                            history                                            history
219    there are no history results for this citation.     there are no history results for this citation

[220 rows x 2 columns]

In [0]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
df['after_removing_stop_words'] = df['after_removing_punctuation'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df['after_removing_stop_words']

0                                5 ala 740
1                    supreme court alabama
2                                    adams
3                                        v
4                            tanner horton
                      ...
215                       filings citation
216                     negative treatment
217    negative treatment results citation
218                                history
219               history results citation
Name: after_removing_stop_words, Length: 220, dtype: object

In [0]:
freq = pd.Series(' '.join(df['after_removing_stop_words']).split()).value_counts()[:10]
freq = list(freq.index)
df['common_words'] = df['after_removing_stop_words'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
df[['common_words']]

                            common_words
0                              5 ala 740
1                        supreme alabama
2                                  adams
3
4                          tanner horton
..                                   ...
215                     filings citation
216                   negative treatment
217  negative treatment results citation
218                              history
219             history results citation

[220 rows x 1 columns]

In [0]:
rare = pd.Series(' '.join(df['common_words']).split()).value_counts()[-10:]
rare = list(rare.index)
df['rare_words'] = df['common_words'].apply(lambda x: " ".join(x for x in x.split() if x not in rare))
df['rare_words']

0                                5 ala 740
1                          supreme alabama
2                                    adams
3
4                            tanner horton
                      ...
215                       filings citation
216                     negative treatment
217    negative treatment results citation
218                                history
219               history results citation
Name: rare_words, Length: 220, dtype: object

In [0]:
!pip install TextBlob

Requirement already satisfied: TextBlob in /usr/local/lib/python3.6/dist-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.6/dist-packages (from TextBlob) (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk>=3.1->TextBlob) (1.12.0)

In [0]:
from textblob import TextBlob
df['rare_words'][ :15].apply(lambda x: str(TextBlob(x).correct()))

0                                             5 all 740
1                                       supreme alabama
2                                                  adam
3
4                                         manner norton
5                                        june term 1843
6                                               sycosis
7                             writ error circuit sumter
8                                      west headnotes 2
9                                                     1
10                                     chattel mortgage
11                                                 crop
12    growing existence subjectmatter mortgage contr...
13                                 4 case cite headnote
14                                                    2
Name: rare_words, dtype: object

In [0]:
import nltk
nltk.download('punkt')
TextBlob(df['rare_words'][219]).words

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

WordList(['history', 'results', 'citation'])

In [0]:
from nltk.stem import PorterStemmer
st= PorterStemmer()
df['rare_words'][:220].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0                       5 ala 740
1                  suprem alabama
2                            adam
3
4                   tanner horton
                  ...
215                    file citat
216                 neg treatment
217    neg treatment result citat
218                       histori
219          histori result citat
Name: rare_words, Length: 220, dtype: object

In [0]:
from textblob import Word
import nltk
nltk.download('wordnet')
df['after_lemmatization'] = df['rare_words'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
df['after_lemmatization']

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

0                               5 ala 740
1                         supreme alabama
2                                    adam
3
4                           tanner horton
                      ...
215                       filing citation
216                    negative treatment
217    negative treatment result citation
218                               history
219               history result citation
Name: after_lemmatization, Length: 220, dtype: object

In [0]:
df.to_csv('/DataAfterCleaning.csv')

In [0]:
tf1 = (df['rare_words'][1:10]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']
tf1

        words   tf
0     supreme  1.0
1     alabama  1.0
2        adam  1.0
3              1.0
4      tanner  1.0
5      horton  1.0
6        june  1.0
7        1843  1.0
8        term  1.0
9    synopsis  1.0
10    circuit  1.0
11     sumter  1.0
12       writ  1.0
13      error  1.0
14  headnotes  1.0
15       west  1.0
16          2  1.0
17          1  1.0

In [0]:
TextBlob(df['rare_words'][10]).ngrams(1)

[WordList(['chattel']), WordList(['mortgage'])]

In [0]:
TextBlob(df['rare_words'][10]).ngrams(2)

[WordList(['chattel', 'mortgage'])]

# 2. Python Regular Expression

## 2.1 Write a Python program to remove leading zeros from an IP address. 

ip = "260.08.094.109"

In [0]:
# Write your code here


def removeLeadingZeros(ip): 
    ip_after_removing_leading_zeros = ".".join([str(int(i)) for i in ip.split(".")])   
    return ip_after_removing_leading_zeros

removeLeadingZeros("001.200.001.004")

'1.200.1.4'

## 2.2 Write a Python Program to extract all the years from the following sentence.

sentence = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump."

In [0]:
import re
sentence = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump"
years = re.findall(r'2\d\d\d', sentence)
print(years)

['2010', '2010', '2019']