<a href="https://colab.research.google.com/github/vyshakh19/vyshakh_INFO5731_spring2020/blob/master/Copy_of_In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise**

(1) Write a Python program to calculate the length of a string.

In [0]:
# write your answer here
str=input("enter a string")
print(len(str))

enter a stringvyshakh
7

(2) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [0]:
def char_frequency(str):
dict = {}
for n in str:
keys = dict.keys()
if n in keys:
dict[n] += 1
else:
dict[n] = 1
return dict
print(char_frequency('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list

In [0]:
def sum(items):
    numbers = 0
    for x in items:
        numbers += x
    return numbers
print(sum([5,3,-2]))

6

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. 

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [0]:
def X(str1):
char = str1[0]
str1 = str1.replace(char, '$')
str1 = char + str1[1:]
return str1
print(X('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$

In [0]:
def X(a,b):
  S=3.14*(1+a/b)**3
  print(S)
X(5,6)

19.3487962962963

(6) Write a Python program to concatenate following dictionaries to create a new one. 

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [0]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3):
  dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple.

In [0]:
tuplex = ("a","b", "c", "d", "e", "f",4,6, "g", "h", "i")
print(4 in tuplex)
print("a" in tuplex)
print("z" in tuplex)

True
True
False

(8) Write a Python program to find maximum and the minimum value in a set.

In [0]:
sets= set([2, 15, 0, -3, 9, 7])
print(max(sets))
print(min(sets))

15
-3

(9) Write a Python program to randomly divide the students in this class into four groups for term projects. Here is the students list:

studnet_list = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216',
                'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080',
                'pk0292','vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']

In [0]:
from itertools import islice 
import random
studnet_list = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216', 'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080', 'pk0292','vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']
random.shuffle(studnet_list)
split_lis = [8,9,9,9]  
print(f"The shuffled list is :{studnet_list}")  
print(f"The split list is :{split_lis}") 
temp = iter(studnet_list) 
res = [list(islice(temp, 0, ele)) for ele in split_lis] 
print("split list is : ")
res

The shuffled list is :['ag1121', 'km0738', 'pt0218', 'hn0139', 'ss1872', 'ak0860', 'vp0241', 'tbl0041', 'ps0501', 'sa0753', 'lba0043', 'bs0490', 'vk0216', 'mj0396', 'lg0426', 'ap0975', 'ss1872', 'mk0830', 'hr0178', 'pb0283', 'ry0104', 'rp0477', 'tpk0023', 'vmb0067', 'al0787', 'pk0292', 'am1823', 'dp1080', 'an0521', 'ss1976', 'nk0327', 'laa0240', 'sm1515', 'vcd0017', 'vk0222']
The split list is :[8, 9, 9, 9]
split list is :

[['ag1121',
  'km0738',
  'pt0218',
  'hn0139',
  'ss1872',
  'ak0860',
  'vp0241',
  'tbl0041'],
 ['ps0501',
  'sa0753',
  'lba0043',
  'bs0490',
  'vk0216',
  'mj0396',
  'lg0426',
  'ap0975',
  'ss1872'],
 ['mk0830',
  'hr0178',
  'pb0283',
  'ry0104',
  'rp0477',
  'tpk0023',
  'vmb0067',
  'al0787',
  'pk0292'],
 ['am1823',
  'dp1080',
  'an0521',
  'ss1976',
  'nk0327',
  'laa0240',
  'sm1515',
  'vcd0017',
  'vk0222']]

TypeError: ignored